<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OMNI</title>
  </head>
  <body>
    <center>
    <hr />
    <h1>Omni Health Services, Inc Outpatient Service Encounter Forms</h1>Welcome <%=name%>
    <span><a style="color: grey;" href="https://formnexuses.onrender.com/logout/<%=id%>">LOGOUT</a></span>
    <hr />

    <table align="center-left" border="1" width ="800px">
        <br/>

        <tr><td colspan="2" align="center" >PLEASE SELECT THE FORM</td>
            </tr>
          
        <tr>
            <td>
               
             Encounter form NE BB. 
            </td>
            <td>
 <a style="color: grey;" href="https://formnexuses.onrender.com/">Link</a>
                
            </td>
        </tr>
        <tr>
          <td>
             
           Encounter form Magellan
          </td>
          <td>
<a style="color: grey;" href="https://formnexuses.onrender.com/api/v1/">Link</a>
              
          </td>
      </tr>
        
    </table>
  </body>
</html>
