<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OMNI</title>
  </head>
  <body>
    <center>
    <hr />
    <h1>Omni Health Services, Inc Outpatient Service Encounter Forms</h1>
    <span><a href="http://localhost:3000/logout/<%=id%>">LOGOUT</span>
    <hr />

    <table align="center-left" border="1" width ="800px">
        <br/>

        <tr><td colspan="2" align="center" >PLEASE SELECT THE FORM</td>
            </tr>
          
        <tr>
            <td>
               
             Encounter form NE BB. Welcome <%=name%>
            </td>
            <td>
 <a href="http://localhost:3000/">Link</a>
                
            </td>
        </tr>
        
    </table>
  </body>
</html>
