<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OMNI</title>
  </head>
  <body>
    <center >
    <form action="/login" method="post" align="center-left">
        <hr />
        <h1>LOGIN </h1>
        <a style="color: grey;" href="/register">REGISTER?</a>
        <hr />
        <br/>
        <br/>

        <table align="center-left" >
            <tr>
      <td>Email:</td><td><input type="text" name="email" /></td>
      </tr><tr>
     <td> Location:</td><td><select name="location"true>
      <option value="Allentown">Allentown</option>
      <option value="Atlantic City">Atlantic City</option>
      <option value="Bethlehem">Bethlehem</option>
      <option value="Bristol">Bristol</option>
      <option value="Camden">Camden</option>
      <option value="Colmar">Colmar</option>
      <option value="Ferry Street">Ferry Street</option>
      <option value="Hazleton">Hazleton</option>
      <option value="Highland Park">Highland Park</option>
      <option value="Chester">Chester</option>
      <option value="Kingston">Kingston</option>
      <option value="Northampton">Northampton</option>
      <option value="Phillipsburg">Phillipsburg</option>
      <option value="Scranton">Scranton</option>
      <option value="Tobyhanna">Tobyhanna</option>
      <option value="Upper Darby">Upper Darby</option>
      <option value="Vineland">Vineland</option>
    </select></td></tr>
      <tr>
        <br/>
<td>
      Password:</td><td><input type="password" name="password" /></td>

</tr>
<tr>
   <td></td> <td><input type="submit" value="SUBMIT"><td>
</tr>
      </table>
    </form>
  </body>
</html>
