<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OMNI</title>
  </head>
  <body>
    <center >
    <form action="/login" method="post" align="center-left">
        <hr />
        <h1>LOGIN </h1>
        <hr />
        <br/>
        <br/>

        <table align="center-left" >
            <tr>
      <td>Therapist Name:</td><td><input type="text" name="tname" /></td>
      </tr><tr>
     <td> Location:</td><td><input type="text" name="location" /></td></tr>
      <tr>
        <br/>
<td>
      Password:</td><td><input type="password" name="password" /></td>

</tr>
<tr>
   <td></td> <td><input type="submit" value="SUBMIT"><td>
</tr>
      </table>
    </form>
  </body>
</html>
