<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OMNI Documents</title>
  </head>
  <body>

    <center>
        <hr />
        <h1>OMNI HEALTH SERVICES CONSENT TO TREATMENT</h1>
   
        <hr />
        HELLO! <%=name%>
        <br/>
       THE FILES NOT DOWNLOADED!
        <table border="1">
        <tr><td>Consent to Treatment</td><td><a style="color: grey;" href ="/therapist/consent">LINK</a></td></tr>
        <tr><td>Encounter form NE CCBH</td><td><a style="color: grey;" href ="/therapist/encbb">LINK</a></td></tr>
        <tr><td>Encounter form NE Magellan</td><td><a style="color: grey;" href ="/therapist/mag">LINK</a></td></tr>
        <tr><td>Encounter form NJ</td><td><a style="color: grey;" href ="/therapist/nj">LINK</a></td></tr>
        <tr><td>Encounter form SE CCBH</td><td><a style="color: grey;" href ="/therapist/se">LINK</a></td></tr>
        <tr><td>Encounter Form PEER</td><td><a style="color: grey;" href ="/therapist/peer">LINK</a></td></tr>
        <tr><td>Encounter Form IBHS</td><td><a style="color: grey;" href ="/therapist/ibhs">LINK</a></td></tr>

        </table>

        <br/>
        <br/>
   THIS FILES DOWNLOADED!
  <table border="1">
        <% input.forEach((result)=>{ %>
            <tr>
                <td>File Name:</td>
                <td>
            <a style="color:grey ;" href='/upload/<%= location %>/<%= result %>'><%= result %></a>
        </td>
            </tr>
        <%  }); %>
    </table>
      
        </center>
        </div>`

  </body>

  <script>


  </script>
</html>
